<div class="comments mt-3" id="comment-section">
    <ul class="list-group">
        {{#each post.comments as |comment|}}
        <li class="list-group-item">
            <p class="comment-text">{{comment.comment_text}}</p>
            <p>{{comment.created_at}} by {{comment.user.username}}</p>
        </li>
        {{/each}}
    </ul>
</div>