<div class="card-group col-6">
    <div class="card">
        <div class="card-body">
            <section class="container-fluid"></section>
                <div class="post-info">
                    <h2 class="post-title">{{post.title}}</h2>
                    <h3 class="created-at">{{post.created_at}} by {{post.user.username}}</h3>
                    {{!-- <div class="separator"><hr></div> --}}
                </div>
                <div class="post-text">
                    {{post.post_text}}
                    {{!-- <div class="separator"></div> --}}
                </div>
            </section>
        </div>
    </div>
</div>