<section>
    <h2>Get to Bloggin!</h2>

    <form>
        <div>
            <label for="post-title">Blogs Title</label>
            <input type="text" id="post-title" name="post-title"/>
        </div>
        <div>
            <label for="post-url">Link</label>
            <input id="post-url" name="post-url"/>
        </div>
        <button type="submit" class="btn">Post</button>
    </form>
</section>