{{> post-info post}}


<section class="container-fluid mb-3" id="comment-box">
    <div class="row">
        <div class="col col-md-6">
            {{#if loggedIn}}
            <form class="comment-form">
                <div class="mb-3">
                    <label for="comment-body" id="add-comment">Add comment</label>
                    <textarea name="comment-body" id="comment-body" rows="3" class="form-control"></textarea>
                    <button type="submit" id="button">add comment</button>
                </div>
            </form>
            {{/if}}

{{> comments post.comment}}

        </div>
    </div>
</section>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}