
{{> post-info post}}

<section class="container-fluid mb-3" id="comment-box">
    <div class="row">
        <div class="col col-md-6">
            {{#if loggedIn}}
            <form class="comment-form">
                <div class="mb-3">
                    <label for="comment-body" class="form-label">Leave a comment</label>
                    <textarea name="comment-body" id="comment-body" rows="3" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn">Comment</button>
            </form>
            {{/if}}
{{> comments post.comments}}
        </div>
    </div>
</section>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}