@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
:root {
    --gold: rgb(238, 238, 7);
    --beige: #d6d5b6;
    --black: rgb(29, 35, 35);
}

* {
    box-sizing: border-box;
  }

body {
    background-color: var(--black);
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: x-large;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: var(--beige);
  }

  a {
    text-decoration: none;
    color: var(--beige);
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: var(--gold);
  }

  .nav-link {
    color:var(--beige);
    font-weight: bold;
  }

  .nav-link:hover{
    color: var(--gold);
  }
  
  label {
    color: var(--black); 
    font-weight: bold;
  }

  button {
    background-color:var(--black);
    border: 0;
    padding: 1%;
    color: var(--beige);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    background-color: var(--gold);
    color: var(--black);
  }
  
  #button {
    background-color:var(--beige);
    border: 0;
    padding: 1%;
    color: var(--black);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }

  #button:hover{
    background-color: var(--gold);
  }

  #comment-body {
    font-size: x-large;
    font-weight: bold;
  }

  #comment-section {
   font-size: x-large;
   font-weight: bold;
  }

  .your-post {
    color: var(--beige);
    font-weight: bold;
  }

  .card {
    background-color: var(--beige);
  }

  .card-title {
    color:var(--black);
    font-weight: bold;
  }

  .card-link {
    color:var(--black);
    font-weight: bold;
  }

  .edit-link {
    color:var(--black);
    font-weight: bold;
  }

  #email-login {
    color: var(--black);
    font-weight: bold;
    font-size: x-large;
  }

  #password-login{
    color: var(--black);
    font-size: x-large;
  }

  #username-signup {
    color: var(--black);
    font-weight: bold;
    font-size: x-large;
  }

  #email-signup {
    color: var(--black);
    font-weight: bold;
    font-size: x-large;
  }

  #password-signup {
    color: var(--black);
    font-size: x-large;
  }

  .blog-header {
    color: var(--black);
    font-weight: bold;
    font-size: x-large;
  }

  #post-url {
    color: var(--black);
    font-weight: bold;
    font-size: x-large;
  }

  #post-title {
    color: var(--black);
    font-weight: bold;
    font-size: x-large;
  }
  
  .post-title {
    color: var(--black);
    font-weight: bold;
    font-size: x-large;
  }

  .created-at {
    color: var(--black);
    font-weight: bold;
    font-size: x-large;
  }
  
  footer {
    position: sticky;
    /* bottom: 0; */
    text-align: center;
    width: 100%;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    color: var(--beige);
    font-weight: bold;
    font-size: 110%;
  }