@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
:root {
    --gold: rgb(238, 238, 7);
    --beige: #d6d5b6;
    --black: rgb(29, 35, 35);
}


* {
    box-sizing: border-box;
  }

body {
    background-color: var(--black);
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: x-large;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: var(--beige);
  }

  a {
    text-decoration: none;
    color: var(--beige);
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: var(--gold);
  }

  .nav-link {
    color:var(--beige);
    font-weight: bold;
  }

  .nav-link:hover{
    color: var(--gold);
  }
  
  label {
    color: var(--black); 
    font-weight: bold;
  }

  button {
    background-color:var(--black);
    border: 0;
    padding: 1%;
    color: var(--beige);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    background-color: var(--gold);
    color: var(--black);
  }

  .card {
    background-color: var(--beige);
  }

  .card-title {
    color:var(--black);
    font-weight: bold;
  }

  .card-link {
    color:var(--black);
    font-weight: bold;
  }

  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    color: var(--beige);
    font-weight: bold;
    font-size: 110%;
  }